#Subversion files
.svn

#Class/TMP files
.class
*.tmp
tmp/
IGV-dist/

#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
build/

# Office Temp Files
~$*


/igv.jar
/run.bat
/make.bat
/default.keystore
/web/goby-io-igv.jar
/web/igv.jar
/web/keystoreFileName.ks
/web/batik-codec.jar
/web/build.xml
/web/jnlp.template
/batik-codec.jar
/goby-io-igv.jar
/launcher/dist
/test/largedata

#Ignore index files
*.*.idx
!isect_res.bed.idx